<%- include("partials/header") -%>
<h1>Home</h1>
<p><%=homeStartingContent%></p>
<% posts.forEach((post) => { %>
    <h1><%=post["postTitle"]%></h1>
    <p><%= post["postBody"].length > 100 ? post["postBody"].substring(0, 100) + "..." : post["postBody"]; %> 
    <a href="/post/<%= post["postTitle"] %>">Read More</a></p>
<%	}); %>
<%- include("partials/footer") -%>